<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.hilton.todo"
      android:versionCode="3"
      android:versionName="3.0">
    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="9"/>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application android:icon="@drawable/ic_launcher" android:label="@string/app_name"
        android:name="TaskApplicaption">
        <activity android:name=".TodayActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:configChanges="keyboard|keyboardHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TomorrowActivity"
                  android:theme="@android:style/Theme.NoTitleBar"
                  android:noHistory="true"
                  android:configChanges="keyboard|keyboardHidden"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".TaskHistoryActivity"
                  android:noHistory="true"
                  android:configChanges="orientation|keyboard|keyboardHidden"
                  android:label="@string/task_history">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="com.hilton.todo.TaskDetailsActivity"
                android:configChanges="keyboard|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="Task details">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name="PomodoroClockActivity"
                android:configChanges="keyboard|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar"
                android:launchMode="singleTask"
                android:label="Pomodoro Clock">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <provider android:name="TaskProvider"
            android:authorities="com.hilton.todo.TaskProvider" />
        <service android:name="TaskRecyclerService" android:exported="false" />
        <service android:name="PomodoroClockService" android:exported="false" />
        <activity android:name="DragAndSortTester"
                android:configChanges="keyboard|keyboardHidden"
                android:theme="@android:style/Theme.NoTitleBar"
                android:label="Test drag and sort">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
    </application>
</manifest>